<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QitaListViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>553AB4B71CA57A560039BE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553AB4CB1CA57A570039BE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553AB4D61CA57A570039BE58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
